<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css?version9"/>
    </head>
    <body>
        <div class= "box">
        <form name="form">
            <h1>Login</h1>
            <div>
                <h4>Username:</h4>
                <input type="text" id="login" name ="user"/>
            </div>
            <div>
                <h4>Password:</h4>
                <input type="text" id="login" name ="pass"/>
            </div>
            <div class="button">
                <button type="submit" value="Submit">Submit</button>
            <div class="button">
                <button type="submit" value="Register" ><a href = "/register">Register </a></button>
            
        </form>
        </div>
    </body>
</html>