<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="../static/style.css?version9"/>
    </head>
    <body>
        <div class= "box">
        <form name="form">
            <h1>Register</h1>
            <div>
                <h4>First Name:</h4>
                <input type="text" id="first_name"/>
            </div>
            <div>
                <h4>Last Name:</h4>
                <input type="text" id="last_name"/>
            </div>
            <div>
                <h4>Username:</h4>
                <input type="text" id="username"/>
            </div>
            <div>
            <h4>Password:</h4>
                <input type="text" id="password"/>
            </div>
            <div class="button">
                <button type="submit" value="Submit">Submit</button>
            <div class="button">
                    <button type="submit" value="Login"> Login</button>
            
        </form>
        </div>
    </body>
</html>